<div id="soft" style="padding:15px;color:#006400;line-height:25px;letter-spacing:2px;">
    <div>
        程序员网址导航基于 .Net Core 3.0 技术开发，使用 mysql 数据库，CentOS 7、Docker-compose 单机部署，开发用时一个多月。网站主要提供程序员常用的网址，以及一些技术文章分享。目前已为程序员们提供 <font color="#ff0000">@Model</font> 次网址导航服务。
    </div>
    <div style="margin-top:13px;">github：<a href="https://github.com/iissy" target="_blank">https://github.com/iissy</a></div>
</div>