<div id="header">
    <div style="margin:0 0 0 0;">
        <div style="max-width:1280px;margin:10px auto 10px auto;text-align:left;display: block;overflow:hidden;">
            <div style="float:left;overflow:hidden;width:300px;"><a href="/" style="font-family:cursive;text-shadow:4px 1px 1px #000;font-size:42px;color:gold;font-weight:bolder;">程序员网址导航</a></div>
            <div style="float:right;overflow:hidden;width:100px;text-align:right;margin-top:30px;"><a href="/payme" style="color:deeppink;font-weight:300;">打赏站长</a></div>
            <div style="float:right;overflow:hidden;width:100px;text-align:right;margin-top:30px;"><a href="https://github.com/iissy/hrefs.cn/issues" style="color:deeppink;font-weight:300;" target="_blank">问题建议</a></div>
            <div style="float:right;overflow:hidden;width:100px;text-align:right;margin-top:30px;"><a href="/articles" style="color:deeppink;font-weight:300;">技术文章</a></div>
            <div style="float:right;overflow:hidden;width:100px;text-align:right;margin-top:30px;"><a href="/links/运维工具" style="color:deeppink;font-weight:300;">运维工具</a></div>
            <div style="float:right;overflow:hidden;width:100px;text-align:right;margin-top:30px;"><a href="/links/前端框架" style="color:deeppink;font-weight:300;">前端框架</a></div>
            <div style="float:right;overflow:hidden;width:100px;text-align:right;margin-top:30px;"><a href="/links/Vue" style="color:deeppink;font-weight:300;">Vue</a></div>
            <div style="float:right;overflow:hidden;width:100px;text-align:right;margin-top:30px;"><a href="/links/Java" style="color:deeppink;font-weight:300;">Java</a></div>
            <div style="float:right;overflow:hidden;width:100px;text-align:right;margin-top:30px;"><a href="/links/Golang" style="color:deeppink;font-weight:300;">Golang</a></div>
            <div style="float:right;overflow:hidden;width:100px;text-align:right;margin-top:30px;"><a href="/links/DotNet" style="color:deeppink;font-weight:300;">DotNet</a></div>
        </div>
    </div>
</div>