<div id="header">
    <div style="margin:0 0 0 0;">
        <div style="max-width:1280px;margin:0 auto 0 auto;text-align:left;display: block;overflow:hidden;">
            <div style="float:left;overflow:hidden;width:300px;"><a href="/" style="font-family:cursive;text-shadow:3px 1px 1px #333;font-size:40px;color:gold;font-weight:bolder;">程序员网址导航</a></div>
            <div style="float:right;overflow:hidden;margin-left:50px;text-align:right;margin-top:20px;"><a href="/payme" style="color:deeppink;font-weight:300;">打赏站长</a></div>
            <div style="float:right;overflow:hidden;margin-left:50px;text-align:right;margin-top:20px;"><a href="https://github.com/iissy/hrefs.cn/issues" style="color:deeppink;font-weight:300;" target="_blank">问题建议</a></div>
            <div style="float:right;overflow:hidden;margin-left:50px;text-align:right;margin-top:20px;"><a href="/cuslinks" style="color:deeppink;font-weight:300;">网摘</a></div>
            <div style="float:right;overflow:hidden;margin-left:50px;text-align:right;margin-top:20px;"><a href="/articles" style="color:deeppink;font-weight:300;">原创</a></div>
            <div style="float:right;overflow:hidden;margin-left:50px;text-align:right;margin-top:20px;"><a href="/links/ae45bd20-f0ed-11e9-81b7-0242ac120004" style="color:deeppink;font-weight:300;">前端</a></div>
            <div style="float:right;overflow:hidden;margin-left:50px;text-align:right;margin-top:20px;"><a href="/links/ae45bd82-f0ed-11e9-81b7-0242ac120004" style="color:deeppink;font-weight:300;">Vue</a></div>
            <div style="float:right;overflow:hidden;margin-left:50px;text-align:right;margin-top:20px;"><a href="/links/ae45be67-f0ed-11e9-81b7-0242ac120004" style="color:deeppink;font-weight:300;">Java</a></div>
            <div style="float:right;overflow:hidden;margin-left:50px;text-align:right;margin-top:20px;"><a href="/links/ae45beba-f0ed-11e9-81b7-0242ac120004" style="color:deeppink;font-weight:300;">Golang</a></div>
            <div style="float:right;overflow:hidden;margin-left:50px;text-align:right;margin-top:20px;"><a href="/links/ae45be7c-f0ed-11e9-81b7-0242ac120004" style="color:deeppink;font-weight:300;">DotNet</a></div>
        </div>
    </div>
</div>