<div id="pay">
    <div style="text-align:center;">
        <div style="color:#ff6a00;margin-bottom:10px;padding-top:10px;padding-left:20px;text-align:left;">
            打赏站长，请备注您的名字，<br />我将很荣幸得将他记录到如下列表：
        </div>
        <img src="/payme.jpg" width="295" />
    </div>
    <div class="tool-bd">
        <div class="pay-item">老铁。</div><div class="pay-item">2019-04-19</div><div class="pay-item">￥0.01元</div>
        <div class="pay-item">M*r</div><div class="pay-item">2019-05-13</div><div class="pay-item">￥1.00元</div>
        <div class="pay-item">*</div><div class="pay-item">2019-06-13</div><div class="pay-item">￥0.10元</div>
        <div class="pay-item">*珩</div><div class="pay-item">2019-06-18</div><div class="pay-item">￥10.00元</div>
        <div class="pay-item">*友</div><div class="pay-item">2019-07-30</div><div class="pay-item">￥1.00元</div>
        <div class="pay-item">蒲春平</div><div class="pay-item">2019-08-01</div><div class="pay-item">￥0.10元</div>
        <div class="pay-item">毕苗苗</div><div class="pay-item">2019-08-11</div><div class="pay-item">￥10.00元</div>
        <div class="pay-item">曾义胜</div><div class="pay-item">2019-09-16</div><div class="pay-item">￥5.00元</div>
    </div>
</div>