@model KeyValuePair<string, IEnumerable<Article>>
<div id="article" style="margin-top:10px;">
    <div style="float:left;margin-right:30px;">
        <img src="@Model.Key" height="150"/>
    </div>
    <div style="max-width:1300px;" class="container">
        <div class="row">
            @foreach (var item in Model.Value)
            {
                <div class="site-item col-4" style="padding-left:10px;"><a href="/article/@item.Id">@Html.Raw(item.Title)</a></div>
            }
        </div>
    </div>
</div>