@model IEnumerable<ASY.Hrefs.Model.Models.Link>
@{
    ViewData["Title"] = Html.Raw(ViewBag.Cat + " - 网址大全");
    ViewData["Description"] = Html.Raw(ViewBag.Cat + "程序员常用网址");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="main" style="width:1300px;">
        <div class="row">
            @foreach (Link link in Model)
            {
            <div class="site-item col-4" style="background-color:#ffffff;height:145px;padding-left:20px;padding-right:20px;">
                <div style="padding-top:5px;padding-bottom:5px;border-bottom: 1px solid #dee3eb;"><a target="_blank" href="/link/@link.Id" style="margin:10px 0 0 10px;font-size:18px;font-weight:bold;letter-spacing: 2px;">@Html.Raw(link.Title)</a></div>
                <div style="background-color:#ffffff;padding-top:5px;background-color: #f9f9f9;height:105px;">
                    <div style="color:#333;word-wrap: break-word; word-break: normal;white-space:initial; font-size:14px;letter-spacing: 1px;line-height:25px;padding-left:10px;" title="@Html.Raw(link.Brief)">
                        @Html.Raw(link.Brief)
                    </div>
                </div>
            </div>
            }
        </div>
    </div>