body {
    background-color: #f2f4f7;
    margin: 0;
    font-size: 14px;
    color: #000000;
    font-family: "Microsoft YaHei","微软雅黑","Arial",sans-serif;
    outline:none;
    font-weight:300;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

.a-fixed-left-area { float:none;overflow: hidden; }
.btloading { padding:5px;margin:10px auto 5px auto;text-align:center; }
.nextpageinfo { color:#C32528;font-size:14px;background-color: #ffffff;overflow: hidden;cursor: pointer;outline: none;text-shadow: 0 -1px 0 rgba(0,0,0,0.25);text-align: center;padding:10px 0 10px 0;margin:4px 0 5px 0; }

a:active {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #e47911;
    text-decoration: none;
}

html,
ul,
div,
h3,
td,
p,
fieldset,
legend,
span,
img,
a {
    margin: 0;
    padding: 0;
}

#app {
    margin: 0 auto 0 auto;
}

#header {
    background-color: #fefefe;
    padding: 0;
    text-align: center;
    overflow: hidden;
    border: 1px solid #dee3eb;
    min-width: 1300px;
    margin-bottom: 10px;
}

#main {
    margin: 0 auto 0 auto;
    width: 1300px;
    overflow: hidden;
    min-height: 700px;
}

#mbmain {
    margin: 0 auto 0 auto;
    max-width: 1300px;
    overflow: hidden;
    min-height: 700px;
}

.body {
    word-wrap: break-word;
    word-break: break-all;
    letter-spacing: 1px;
    padding: 10px 20px 10px 20px;
    line-height: 188%;
    font-size: 15px;
}

.body img {
    max-width: 100% !important;
}

#footer {
    margin: 10px auto 0 auto;
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #fefefe;
    clear: both;
    width: 1300px;
}

#mbfooter {
    margin: 20px auto 0 auto;
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #fefefe;
    clear: both;
    max-width: 1300px;
}

ol, ul, dl {
    list-style: none;
}

.site-hd {
    position: relative;
    padding: 2px 0 4px 32px;
}

.site-hd-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
    padding: 6px 0 4px;
    width: 120px;
    line-height: 20px;
    font-size: 14px;
    color: #000;
}

.site-course-item { position: relative;display: inline-block;vertical-align: top;margin: 0 37px 0 0px;font-size: 14px;color: #000;height: 20px;line-height: 20px;overflow:hidden; }
ul > :last-child.site-course-item { margin-right:0; }
.site-course-item a { color:#006400; }

.site-bd {
    position: relative;
    padding: 0 0 10px 0;
}

.site-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #000;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 160px;
}

.site-hd-item a img { height: 20px;vertical-align: middle; }

.article-item a.active { color:#ff5500; }

.group-item {
    margin-left:5px;
    padding:1px 0 1px 0;
    height:25px;
    width:139px;
    background-color: #dddddd;
    border-radius:5px;
    padding-left:10px;
}
.group-item span{
    width:120px;
    font-size:13px;
    display:block;
    height:18px;
    color: #006400;
    text-align:left;
    letter-spacing: 2px;
}

.non-item {
    width: 150px;
}

.site-list {
    text-align: left;
    margin-right: 5px;
    margin-left:15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.other-list {
    text-align: left;
    margin-left: 8px;
    margin-top:5px;
}

.tool-bd {
    position: relative;
    padding: 12px 0 4px 18px;
}

.tool-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 0 8px;
    width: 155px;
    line-height: 20px;
}

.pay-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 0 8px;
    line-height: 20px;
}

.article-bd {
    padding-top:10px;
}

.article-item-img { padding: 0 10px 0 10px;height:196px; }

.article-item {
    line-height: 20px;
    padding: 0 10px 10px 10px;
    white-space:nowrap;
    overflow:hidden;
}

#hot, #frontend, #backend, #common, #article, #other, #soft {
    margin-top: 10px;
    background-color: #ffffff;
}
#info, #pay {
    background-color: #ffffff;
}
#hot, #frontend, #backend, #other {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#course { margin-top:10px; }
#detail { overflow: hidden;background-color: #ffffff; }
.catgroup {
    border: #dddddd dotted 1px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
div > fieldset:first-child {
    margin-top: 0;
}
.title {
    font-size: 20px !important;
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
    color: #C32528;
    font-family: 'museo-1', 'museo-2', Verdana;
    letter-spacing: 1px;
    text-shadow: #EEE 1px 1px 1px;
    margin: 0 0 0 0;
    padding: 15px 5px 15px 5px;
    max-width: 1290px;
    text-align: center;
}

.origin {
    padding: 0 20px 5px 0;
    float: right;
    color: #888888;
    letter-spacing: 2px;
}

.inputclass {
    display: inline-block;
    padding: 5px 0 5px 0;
    font-size: 14px;
    border: 1px solid #36c6d3;
    color: rgb(95, 95, 95);
    width:100%;
}

em { color:#c00;font-style: normal; }

.a-fixed-pager-area-index {
    overflow: hidden;
    background-color: #ffffff;
    padding: 5px 0 0 0;
    width: 1300px;
    padding-bottom: 10px;
    margin: 0 auto 10px auto;
}

div#Pager {
    overflow: auto;
    margin: 10px 10px 0 0;
    float: right;
}

    div#Pager a {
        float: left;
        width: 30px;
        margin: 0 0 0 5px;
        font-size: 14px;
        background-color: #f9f9f9;
        text-align: center;
        text-decoration: none;
        padding: 5px;
        line-height:20px;
        color:#999999;
    }

        div#Pager a.selected {
            background-color: #1bac8f;
            color: #ffffff;
        }

.links-line {
    background-color: #ffffff;
    float: left;
    width: 317.5px;
    margin-left: 5px;
    margin-right:5px;
    overflow: hidden;
}